body, html {
    background-color: white;
    height: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.SugarSpot-container {
    min-height: 100%; /* Ensure the container takes at least the full height of the viewport */
    display: flex;
    flex-direction: column;
    background-image: url('https://i.postimg.cc/gcKM8D9k/background.png');
    background-size: cover; /* Scale the image proportionally to cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

.title{
    border: 1px solid black;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}
.SugarSpot-container{
    
}